body{
    background-color: aliceblue;
    color:aliceblue;
    font-family: "Bai jamjuree",sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;

}

button {
     background-color: aliceblue;
     color: aliceblue;
     font-family: "Bai jamjuree" sans-serif;
    }
